<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name,:html =>{:class => "center" } )) do |f| %>
  <div class="form-group">
    <%= f.label :email%>
    <%= f.email_field :email, autofocus: true,class: "form-control class="%>   
  </div>
<br />
  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off",class: "form-control" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    
      <%= f.check_box :remember_me, class: "check_box" %>
      <%= f.label :remember_me %><br/>
    
  <% end -%>

  
    <%= f.submit "Log in", class: "btn btn-primary" %>
  
<% end %>

<%= render "devise/shared/links" %>
